@model Project.FluentValidation.DTOs.EventDateDto
<form asp-action="Index" method="post">
    <input asp-for="Day" />
    <input asp-for="Month" />
    <input asp-for="Year" />
   <input type="submit" value="KAYDET" />
</form>
@ViewBag.date