
@{
    ViewData["Title"] = "PictureSave";
}

<h1>Resim Kaydetme</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="picture" />
    <br />
   <input type="submit" value="Remi Kaydet" />

</form>

